<div class="container1">
<%= form_for :user, url: course_enrollments_path do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />
  <%= radio_button_tag(:type, "student") %>
	<%= label_tag(:type, "student") %><br/>	
	<%= f.submit 'Enroll'%>
<% end %>
</div>