<div>
<h2><%= @response['name'] %></h2>
<h4><%= @response['code'] %></h4>
<p>Description: <%= @response['description'] %></p>
<p>Starts at: <%= @response['start_at'] %></p>
<p>Ends at: <%= @response['end_at'] %></p>
</div>

<div><%= link_to 'Enroll in this Course', course_enrollments_path(course_id: params[:id])%></div>

<div><%= link_to 'Back to Courses', courses_path(page: @home_page) %></div>